body{
font-family: 'Open Sans';
}

div, ul, span, img{
position: absolute;
display: none;
}

.container-3A{
width: 908px;
height: 1213px;
/*background: url('../images/FACTURA_A_Pagina_2.jpg') no-repeat 0 0;*/
background-size: 908px 1213px;
position: relative;
page-break-after: always;
display: block;
color: #5F575A;
}

.container-3A:last-child{
page-break-after: auto;
}


.container-3A .logo {
  top: 50px;
  left: 120px;
  width: 235px;
  height: 75px;
  background: url('a.jpg') no-repeat 0 0;
  /*background-color: #efefef;*/
  display: block;
}

.container-3A .direccion2 {
  top: 162px;
  left: 95px;
  font-size: 0.75em;
  font-weight: bold;
  text-align: right;
  display: block;
  text-transform: uppercase;
  width: 200px;
}

.container-3A .cod-postal2 {
  top: 162px;
  left: 300px;
  font-size: 0.75em;
  font-weight: bold;
  text-align: left;
  display: block;
}

.container-3A .localidad2 {
  top: 180px;
  left: 56px;
  font-size: 0.75em;
  font-weight: bold;
  text-align: right;
  display: block;
  width: 175px;
  text-transform: uppercase;
}

.container-3A .provincia2 {
  top: 180px;
  left: 243px;
  font-size: 0.75em;
  font-weight: bold;
  text-align: left;
  display: block;
}

.container-3A .telefono2 {
  top: 197px;
  left: 62px;
  font-size: 0.75em;
  font-weight: bold;
  text-align: right;
  display: block;
  width: 175px;
}

.container-3A .email2 {
  top: 197px;
  left: 249px;
  font-size: 0.75em;
  font-weight: bold;
  text-align: left;
  display: block;
}

.container-3A .iva-responsable-inscripto {
  top: 224px;
  left: 160px;
  font-size: 0.7em;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  display: block;
}

.container-3A .productos-servicios {
  top: 135px;
  left: 100px;
  width: 360px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  display: block;
}

.container-3A .separador3 {
  top: 160px;
  left: 241px;
  display: block;
}

.container-3A .separador4 {
  top: 177px;
  left: 234px;
  display: block;
}

.container-3A .separador5 {
  top: 194px;
  left: 240px;
  display: block;
}

.container-3A .tipo {
  top: 38px;
  left: 470px;
  font-size: 2.7em;
  font-weight: bold;
  color: #fff;
  display: block;
}

.container-3A .tipo::after{
content: "A";
}

.container-3A .codigo {
  top: 99px;
  left: 461px;
  font-size: 0.5em;
  font-weight: bold;  
  display: block;
}

.container-3A .no {
  top: 99px;
  left: 495px;
  font-size: 0.5em;
  font-weight: bold;  
  display: block;
}

.container-3A .fondo-tipo {
  top: 44px;
  left: 458px;
  background-color: #BCBDC0;
  width: 53px;
  height: 50px;
  border-radius: 7px;
  display: block;
}

.container-3A .factura {
  top: 36px;
  left: 546px;
  font-size: 1.5em;
  display: block;
}

.container-3A .numero {
  top: 88px;
  left: 545px;
  font-size: 1.55em;
  display: block;
}

.container-3A .numero2 {
  top: 88px;
  left: 579px;
  font-size: 1.55em;
  display: block;
}

.container-3A .fecha {
  top: 153px;
  left: 546px;
  font-size: 0.96em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.container-3A .fecha2 {
  top: 153px;
  left: 602px;
  font-size: 0.96em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.container-3A .cuit {
  top: 185px;
  left: 545px;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.container-3A .cuit2 {
  top: 185px;
  left: 593px;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.container-3A .ingreso-bruto3 {
  top: 199px;
  left: 545px;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.container-3A .ingreso-bruto2 {
  top: 199px;
  left: 654px;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.container-3A .inicio-actividades {
  top: 213px;
  left: 545px;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.container-3A .inicio-actividades2 {
  top: 213px;
  left: 605px;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.container-3A .senores {
  top: 261px;
  left: 63px;
  font-size: 0.66em;
  font-weight: bold;
  display: block;
}

.container-3A .senores2 {
  top: 261px;
  left: 112px;
  font-size: 0.66em;
  font-weight: bold;
  display: block;
}

.container-3A .domicilio {
  top: 292px;
  left: 63px;
  font-size: 0.66em;
  font-weight: bold;
  display: block;
}

.container-3A .domicilio2 {
  top: 292px;
  left: 118px;
  font-size: 0.66em;
  font-weight: bold;
  display: block;
}

.container-3A .localidad3 {
  top: 323px;
  left: 63px;
  font-size: 0.66em;
  font-weight: bold;
  display: block;
}

.container-3A .localidad4 {
  top: 323px;
  left: 118px;
  font-size: 0.66em;
  font-weight: bold;
  display: block;
}

.container-3A .iva {
  top: 261px;
  left: 547px;
  font-size: 0.66em;
  font-weight: bold;
  display: block;
}

.container-3A .iva::after{
  /*content: ":";*/
}

.container-3A .iva2 {
  top: 261px;
  left: 579px;
  font-size: 0.66em;
  font-weight: bold;
  display: block;
}

.container-3A .cuit3 {
  top: 292px;
  left: 547px;
  font-size: 0.66em;
  font-weight: bold;
  display: block;
}

.container-3A .cuit4 {
  top: 292px;
  left: 591px;
  font-size: 0.66em;
  font-weight: bold;
  display: block;
}

.container-3A .condiciones-venta {
  top: 373px;
  left: 62px;
  font-size: 0.7em;
  font-weight: bold;
  display: block;
}

.container-3A .condiciones-venta2 {
  top: 373px;
  left: 185px;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.container-3A .vencimiento_ {
  top: 373px;
  left: 465px;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.container-3A .vencimiento2_ {
  top: 373px;
  left: 548px;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.container-3A .cantidad2 {
  left: 72px;
  top: 413px;
  font-weight: bold;
  font-size: 0.75em;
  color: #fff;
  display: block;
}

.container-3A .descripcion2 {
  left: 373px;
  top: 413px;
  font-weight: bold;
  font-size: 0.75em;
  color: #fff;
  display: block;
}

.container-3A .unitario2 {
  left: 658px;
  top: 413px;
  font-weight: bold;
  font-size: 0.75em;
  color: #fff;
  display: block;
}

.container-3A .precio-total2 {
  left: 788px;
  top: 413px;
  font-weight: bold;
  font-size: 0.75em;
  color: #fff;
  display: block;
}

.container-3A .tabla-encabezado {
  background-color: #939598;
  top: 405px;
  left: 56px;
  width: 810px;
  height: 29px;
  color: #fff;
  display: block;
  border-radius: 11px;
}

.container-3A .lista-productos {
  top: 423px;
  position: absolute;
  left: 0px;
  display: block;
}

.container-3A .tabla-texto {
  top: 800px;
  font-size: 0.63em;
  font-weight: bold;
  left: 64px;
  width: 790px;
  display: block;
}

.container-3A .subtotal {
  top: 1070px;
  left: 61px;
  width: 99px;
  font-size: 0.75em;
  height: 22px;
  background-color: #939598;
  padding-top: 1px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #fff;
}

.container-3A .impuesto1 {
  top: 1070px;
  left: 165px;
  width: 102px;
  font-size: 0.75em;
  height: 22px;
  background-color: #939598;
  padding-top: 1px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #fff;
}

.container-3A .impuesto2 {
  top: 1070px;
  left: 273px;
  width: 102px;
  font-size: 0.75em;
  height: 22px;
  background-color: #939598;
  padding-top: 1px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #fff;
}

.container-3A .impuesto3 {
  top: 1070px;
  left: 379px;
  width: 102px;
  font-size: 0.75em;
  height: 22px;
  background-color: #939598;
  padding-top: 1px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #fff;
}

.container-3A .impuesto4 {
  top: 1070px;
  left: 488px;
  width: 102px;
  font-size: 0.75em;
  height: 22px;
  background-color: #939598;
  padding-top: 1px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #fff;
}

.container-3A .iva5 {
  top: 1070px;
  left: 595px;
  width: 108px;
  font-size: 0.75em;
  height: 22px;
  background-color: #939598;
  padding-top: 1px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #fff;
}

.container-3A .total {
  top: 1070px;
  left: 709px;
  width: 157px;
  font-size: 0.75em;
  height: 22px;
  background-color: #939598;
  padding-top: 1px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #fff;
}

.container-3A .subtotal2 {
  top: 1096px;
  left: 61px;
  width: 99px;
  font-size: 0.75em;
  height: 24px;
  background-color: #BCBDC0;
  padding-top: 9px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #000;
  font-weight: bold;
}

.container-3A .impuesto12 {
  top: 1096px;
  left: 165px;
  width: 102px;
  font-size: 0.75em;
  height: 24px;
  background-color: #BCBDC0;
  padding-top: 9px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #000;
  font-weight: bold;
}

.container-3A .impuesto22 {
  top: 1096px;
  left: 273px;
  width: 102px;
  font-size: 0.75em;
  height: 24px;
  background-color: #BCBDC0;
  padding-top: 9px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #000;
  font-weight: bold;
}

.container-3A .impuesto32 {
  top: 1096px;
  left: 379px;
  width: 102px;
  font-size: 0.75em;
  height: 24px;
  background-color: #BCBDC0;
  padding-top: 9px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #000;
  font-weight: bold;
}

.container-3A .impuesto42 {
  top: 1096px;
  left: 488px;
  width: 102px;
  font-size: 0.75em;
  height: 24px;
  background-color: #BCBDC0;
  padding-top: 9px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #000;
  font-weight: bold;
}

.container-3A .iva6 {
  top: 1096px;
  left: 595px;
  width: 108px;
  font-size: 0.75em;
  height: 24px;
  background-color: #BCBDC0;
  padding-top: 9px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #000;
  font-weight: bold;
}

.container-3A .total2 {
  top: 1096px;
  left: 709px;
  width: 157px;
  font-size: 0.75em;
  height: 24px;
  background-color: #BCBDC0;
  padding-top: 9px;
  text-align: center;
  display: block;
  border-radius: 11px;
  color: #000;
  font-weight: bold;
}

.container-3A .razon-social-emite_ {
  top: 1139px;
  left: 56px;
  font-size: 0.65em;
  font-weight: bold;
  display: block;
}

.container-3A .razon-social-emite2 {
  top: 1138px;
  left: 257px;
  font-size: 0.7em;
  font-weight: bold;
  display: block;
}

.container-3A .exp-hab {
  top: 1154px;
  left: 56px;
  font-size: 0.65em;
  font-weight: bold;
  display: block;
}

.container-3A .exp-hab2 {
  top: 1153px;
  left: 123px;
  font-size: 0.7em;
  font-weight: bold;
  display: block;
}

.container-3A .del {
  top: 1168px;
  left: 56px;
  font-size: 0.65em;
  font-weight: bold;
  display: block;
}

.container-3A .del2 {
  top: 1168px;
  left: 76px;
  font-size: 0.65em;
  font-weight: bold;
  display: block;
}

.container-3A .al {
  top: 1168px;
  left: 152px;
  font-size: 0.65em;
  font-weight: bold;
  display: block;
}

.container-3A .al2 {
  top: 1168px;
  left: 165px;
  font-size: 0.65em;
  font-weight: bold;
  display: block;
}

.container-3A .fecha-impresion {
  top: 373px;
  left: 407px;
  font-size: 0.7em;
  font-weight: bold;
  display: block;
}

.container-3A .fecha-impresion::before{
  content: "";
}

.container-3A .fecha-impresion2 {
  top: 373px;
  left: 525px;
  font-size: 0.7em;
  font-weight: bold;
  display: block;
}

.container-3A .reparto-frec {
  top: 373px;
  left: 670px;
  font-size: 0.7em;
  font-weight: bold;
  display: block;
}

.container-3A .reparto-frec::before{
  content: "";
}

.container-3A .reparto-frec2 {
  top: 373px;
  left: 720px;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.container-3A .barcode {
  top: 1140px;
  left: 347px;
  height: 45px;
  overflow: hidden;
  width: 284px;
  display: block;
}

.container-3A .barcode img{
  display: block;
}

.container-3A .barcode-number {
  top: 1171px;
  font-size: 0.6em;
  left: 351px;
  width: 276px;
  text-align: center;
  display: block;
}

.container-3A .vencimiento-cai3 {
  top: 1165px;
  left: 476px;
  font-size: 0.70em;
  font-weight: bold;
  display: block;
}

.container-3A .vencimiento-cai2 {
  top: 1140px;
  left: 782px;
  font-size: 0.95em;
  font-weight: bold;
  display: block;
}

.container-3A .cai {
  top: 1147px;
  left:472px;
  font-size: 0.70em;
  font-weight: bold;
  display: block;
}

.container-3A .cai2 {
  top: 1147px;
  left: 504px;
  font-size: 0.70em;
  font-weight: bold;
  display: block;
}

.container-3A .marco1 {
  top: 241px;
  left: 56px;
  border: 2px solid #939598;
  border-left: none;
  width: 478px;
  height: 102px;
  display: block;
}

.container-3A .marco2 {
  top: 241px;
  left: 536px;
  border: 2px solid #939598;
  border-left: none;
  border-right: none;
  width: 330px;
  height: 102px;
  display: block;
}

.container-3A .marco3 {
  top: 398px;
  left: 56px;
  border: 2px solid #939598;
  border-left: none;
  border-right: none;
  width: 810px;
  height: 39px;
  display: block;
}

.container-3A .marco4 {
  top: 1060px;
  left: 56px;
  border: 2px solid #939598;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 810px;
  height: 39px;
  display: block;
}

.container-3A #barcode_COD128 {
  top: 1137px;
  left: 599px;
  display: block;
}

.container-3A #barcode_ITF {
  top: 1135px;
  left: 47px;
  display: block;
}

.container-3A .leyenda-caba {
  top: 1130px;
  left: 65px;
  font-size: 0.60em;
  display: block;
  z-index: 990;
}


.container-3A .numeros-letras {
  text-align: right;
  width: 460px;
  top: 1131px;
  left: 395px;
  font-size: 0.57em;
  display: block;
  z-index: 999;
}


.container-3M .tipo {
  top: 38px;
  left: 465px;
  font-size: 2.7em;
  font-weight: bold;
  color: #fff;
  display: block;
}

.container-3M .tipo::after{
content: "M";
}

.container-3M .qr {
  align-content: flex-end; 
  top: 1150px;
  left: 70px;
  width: 61px;
  height: 61px;
  background: url('a.png') no-repeat 0 0;
  display: block;

}